# �������ֲ���
RAC_INSTANCE_NUM=1
TOSF_DB1=farerd2
TOSF_DB=farerd2
TOSF_DB_USER=fcims
TOSF_DB_PWD=fcimsabc
DB_RETRY_ITVL=5
LOG_LEVEL=INFO,STAT
TOSF_LOG={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_BESTBUY}}/TOSF
AUDITLOGPATH={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_BESTBUY}}/TOSF
TOSF_TRC_DIR={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_BESTBUY}}
TOSF_ERR_DIR={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_BESTBUY}}
MAXMACHINE=2
#GWROUT=mcss1:MCSSGW|*:TLHGW

# aaaa
VERMACHINE=1
CACHE_IPCKEY=43711
#CACHE_IPCKEY=56798
SYSCODE=CRS|ICS|IBE

[PLUGIN]
IPCKEY=34489
PLUGIN_PATH={{FARE_DIRRUN}}/plugin/{{OUTER_SVR_NAME_BESTBUY}}
FE_VER=libfarefront.so.3.7
APP_NUM=2
APP1=PAT
APP1_VER=libpat.so.3.8
APP2=ERR
APP2_VER=liberr.so.1.0

#������APP��ҵ���������
[{{OUTER_SVR_NAME_BESTBUY}}]
T_FARE_DB_NET=faredev
T_FARE_DB_PUB=faredev
T_FARE_DB_USER_NET=nfsdis
T_FARE_DB_PWD_NET=nfsdis
T_FARE_DB_USER_PUB=fcims
T_FARE_DB_PWD_PUB=fcims
T_FARE_TABLE_OWNERS=NFS_GBL/NFS_TA/NFS_CA
T_FARE_CONFIG_PARAMETER_FILE={{FARE_DIRRUN}}/config/PARAMETER.cfg
T_FARE_LOG={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_BESTBUY}}
T_FARE_ERR_DIR={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_BESTBUY}}
T_FARE_TRC_DIR={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_BESTBUY}}
T_FARE_CTX_NUM=2
T_FARE_FBR_SWITCH=0
T_FARE_CITY_FILE={{FARE_DIRRUN}}/config/city.tsv

# T_FARE log error code
BUSINESS_ERROR=1000
SYSTEM_ERROR=2000
ORACLE_ERROR=3000
XML_ERROR=4000
BOOST_ERROR=5000
CACHE_ERROR=9000

# context timeout value
T_FARE_CTM_TIMEOUT=300
T_FARE_CTM_SLPTM=2
T_FARE_CTM_CHKNUM=90
AV_WSNADDR=AVADAPTER

#cache special parameters
[CACHE]
USE_DB_NET=YES
DB_LINK=ORA507T
DB_USER=fcims
DB_PWD=Fare_123456
DB_NET=ORA507T
DB_USER_NET=nfsadmin
DB_PWD_NET=Fare_123456
MAXLDTHREADS=10

DataA={{FARE_DIRRUN}}/cache/{{OUTER_SVR_NAME_BESTBUY}}/A
DataB={{FARE_DIRRUN}}/cache/{{OUTER_SVR_NAME_BESTBUY}}/B
UpdateDataPath={{FARE_DIRRUN}}/cache/{{OUTER_SVR_NAME_BESTBUY}}/C

CACHE_LOGDIR={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_BESTBUY}}

WANTED_CARRIER=ALL
WANTED_TABLE=ALL
WANTED_PACKAGE=FARE|FD
DELETE_UPD_FILE=YES

# cache���Ȳ�������λΪ�롣
# ÿ��LOAD_INTERVAL����һ�����л���ÿ��UPDATE_INTERVAL����һ�ο��ٽ�ֹ����FULL_ONCEָ����ʱ����л�ΪFULL_ONCE
LOAD_INTERVAL=3600
UPDATE_INTERVAL=120
FULL_ONCE=09:00|11:00|14:00
DO_COPY_BETWEEN_DIR=NO

DO_APPEND=NO
DO_UPDATE=YES
IS_NOTIFY=NO
DO_FTP_SYNC=NO
LOAD_MODE=RELATIVE
MULTI_MACHINE_SYNC=NO
NEED_UNZIP=NO
