# �������ֲ���
GWROUT=mcss1:MCSSGW|*:TLHGW
SYSCODE=CRS|ICS|IBE
TOSF_LOG={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_PRICE}}
TOSF_ERR_DIR={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_PRICE}}
TOSF_TRC_DIR={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_PRICE}}
MAXMACHINE=1
#CACHE_IPCKEY=75321
CACHE_IPCKEY=37797
#for tosf.4.1.5
LOG_LEVEL=STAT,INFO

[PLUGIN]
IPCKEY=41000
PLUGIN_PATH={{FARE_DIRRUN}}/plugin/{{OUTER_SVR_NAME_PRICE}}
FE_VER=libfarefront.so.7.4
APP_NUM=6
APP1=PAT
APP1_VER=libpat.so.6.0
APP2=PFD
APP2_VER=libpnr.so.7.1
APP3=NFD
APP3_VER=libpnr.so.7.1
APP4=OC
APP4_VER=liboc.so.4.2
APP5=ERR
APP5_VER=liberr.so.5.1
APP6=AFPP
APP6_VER=libafpp.so.2.1

VERMACHINE=1

[{{OUTER_SVR_NAME_PRICE}}]
T_FARE_DB_NET=ora507t
T_FARE_DB_PUB=ora507t
T_FARE_DB_USER_NET=nfsadmin
T_FARE_DB_PWD_NET=pASGB`bdfhj
T_FARE_DB_USER_PUB=fcims
T_FARE_DB_PWD_PUB=pASGB`bdfhj
#T_FARE_DB_NET=ora26t
#T_FARE_DB_PUB=ora26t
#T_FARE_DB_USER_NET=nfsadmin
#T_FARE_DB_PWD_NET=MFTCGQNTHJL
#T_FARE_DB_USER_PUB=fcims
#T_FARE_DB_PWD_PUB=ECJOVEGI
#T_FARE_DB_NET=FARETEST
#T_FARE_DB_PUB=FARETEST
#T_FARE_DB_USER_NET=nfsdis
#T_FARE_DB_PWD_NET=MFTFLW
#T_FARE_DB_USER_PUB=fcims
#T_FARE_DB_PWD_PUB=ECJOV
T_FARE_TABLE_OWNERS=NFS_GBL/NFS_TA/NFS_CA
T_FARE_CONFIG_PARAMETER_FILE={{FARE_DIRRUN}}/config/PARAMETER.cfg
T_FARE_LOG={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_PRICE}}
T_FARE_ERR_DIR={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_PRICE}}
T_FARE_TRC_DIR={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_PRICE}}
T_FARE_CITY_FILE={{FARE_DIRRUN}}/config/city.tsv
# for afpp tux client
#WSNADDR=10.6.157.45:12999

#XMLTRACE
XML_DB_LOG_FLAG=0
XML_PRINT_FAILED_FLAG=1;
XML_PRINT_DETAIL_FLAG=1;
XML_TRACE_LOG_DIR={{FARE_DIRRUN}}/log//{{OUTER_SVR_NAME_PRICE}}/XMLTraceLog
     
# T_FARE log error code
BUSINESS_ERROR=1000
SYSTEM_ERROR=2000
ORACLE_ERROR=3000
XML_ERROR=4000
BOOST_ERROR=5000
CACHE_ERROR=9000


# context value
[CONTEXT]
IPCKEY=41100
SHMSIZE=8192
CTXMACHINE=1
CTXENTRY=50000
CWANUM=3 #Ĭ��Ϊ5
MAXCTXSIZE=200000
MEANCTXSIZE=4000
CTXPAIRNUM=10
ASYNRPLYNUM=10
LOCKTMOUT=10
CTXFILEPATH={{FARE_DIRRUN}}/context
CTM_TIMEOUT=300
CTM_SLPTM=2
CTM_CHKNUM=90

[CACHE]
USE_DB_NET=YES
DB_LINK=ora507t
DB_USER=fcims
DB_PWD=Fare_123456
DB_NET=ora507t
DB_USER_NET=nfsadmin
DB_PWD_NET=Fare_123456

#DB_LINK=ora26t
#DB_USER=fcims
#DB_PWD=fcimsabc
#DB_NET=ora26t
#DB_USER_NET=nfsadmin
#DB_PWD_NET=nfsadminabc


MAXLDTHREADS=10

DataA={{FARE_DIRRUN}}/cache/{{OUTER_SVR_NAME_PRICE}}/A
DataB={{FARE_DIRRUN}}/cache/{{OUTER_SVR_NAME_PRICE}}/B
UpdateDataPath={{FARE_DIRRUN}}/cache/{{OUTER_SVR_NAME_PRICE}}/C

WANTED_CARRIER=ALL                                                                                                
WANTED_TABLE=ALL                                                                                                  
WANTED_PACKAGE=FARE|FD                                                                                            
DELETE_UPD_FILE=NO

CACHE_LOGDIR={{FARE_DIRRUN}}/log/{{OUTER_SVR_NAME_PRICE}}/CacheLog
LOAD_INTERVAL=3600                                                                                                
UPDATE_INTERVAL=30                                                                                                
FULL_ONCE=09:00|11:00|14:00                                                                                       
                                                                                                                  
DO_APPEND=NO                                                                                                      
DO_UPDATE=YES                                                                                                     
IS_NOTIFY=NO                                                                                                      
DO_FTP_SYNC=NO                                                                                                    
NEED_UNZIP=YES

MULTI_MACHINE_SYNC=NO
NEED_UNZIP=NO                                                                                                   
LOAD_MODE=ABSOLUTE
SER_TIME_LIST=00:00|00:30|01:00|01:30|02:00|02:30|03:00|03:30|04:00|04:30|05:00|05:30|06:00|06:30|07:00|07:30|08:00|08:30|09:00|09:30|10:00|10:30|11:00|11:30|12:00|12:30|13:00|13:30|14:00|14:30|15:00|15:30|16:00|16:30|17:00|17:30|18:00|18:30|19:00|19:30|20:00|20:30|21:00|21:30|22:00|22:30|23:00|23:30
DO_COPY_BETWEEN_DIR=NO
